
.scrollmenu {
    background-color: #FBB917;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px !important;
}

.heading {
    background-color: #FBB917;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
    margin: 0 auto;
    width: 10%;

}

.wrapper {
  display: flex;
  justify-content: center;
  margin-right: 35%;
  margin-left: 35%;
}


.bluehighlight {
    color: #0080FF;
}

.right {
    position: absolute;
    right: 0px;
}

.left {
    position: absolute;
    left: 0px;
    width: 80%;
}

.textfitter {
    height: auto; 
    width: 1000px;
    margin: 0 auto;
}

footer a:hover {
    color: red;
}    

.h1 {
    margin: auto;
    width: 80%;
    padding: 10px;
}


.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    align-content: center;
}

.scrollmenu a:hover {
    background-color: #777;
}

.main-header{
    padding: 0px;
     background-color: #FFA500;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
    margin: auto;
    width: 70%;
}

.main-header h1{
    margin: 10px;
    padding: 0px;
    font-weight: lighter;
    font-size: 40px;
    
}

@media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}

.main-header h1 a{
    color: #eee;
}

.blackback {
    background: #000000;
}

.footer p {
   color: : #F12233; 
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.centerbody {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #D3D3D3;
}

.flexbox-parent
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}

.flexbox-item-initial
{
    flex: initial;
}
.flexbox-item-grow
{
    flex: 2; /* same as flex: 1 1 auto; */
}
.flexbox-item.header
{

}
.flexbox-item.footer
{

}
.content
{
    background-color: #eee;
}

.col-md-12{
    margin: 8px;
    width: 100%;
    padding: 5px;
}

@media (max-width: 1145px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
